.container-not-found{
  margin:auto;
  height: 500px;
  width: 900px;
  background-image: url('../../assets/images/404.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
